<div data-role="view" id="trecientos-seleccionado" data-layout="default" class="activity-view" 
     data-init="app.viewNews.init" 
     data-show="app.viewNews.show">
    
    <div data-role="header">
        <div data-role="navbar">
            Detalle
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
        </div>
    </div>

    <div class="user-status-wrp cf" data-role="listview" data-style="inset">
        <span data-bind="html: content"></span>
    </div>
    
    <div data-role="footer">        
    </div>
</div>
