<div data-role="view" id="adicionar-trecientos" data-layout="default" data-transition="overlay:down" class="add-activity-view"
    data-init="app.AddTrecientos.init" data-show="app.AddTrecientos.show" data-model="app.AddTrecientos">
    <div data-role="header">
        <div data-role="navbar">
            Activity
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">Cancelar</a>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" data-bind="click: save">Guardar</a>
        </div>
    </div>
    <div id="enterStatus" class="share-form-wrp" data-role="listview" data-style="inset">
       
        <h3>
            Nuevo contacto
        </h3>
                
        <div class="user-share">
        <form id="trecientos-form">
                <ul data-role="listview" data-style="inset">
                    <li><input type="text" id="trecientos_add_Nombres" placeholder="Nombres" required validationMessage="El nombre es requerido!" /></li>
                    <li><input type="text" id="trecientos_add_Telefono" placeholder="Telefono" required validationMessage="El telefono es requerido!" /></li>
                    <li><input type="text" id="trecientos_add_Parentesco" placeholder="Parentesco"/></li>
                    <li><input type="text" id="trecientos_add_Email" placeholder="Email"/></li>
                    <li><input type="text" id="trecientos_add_Comentarios" placeholder="Comentarios"/></li>
                </ul>
        </form>
        </div>
    </div>
</div>
