<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="add-activity-view"
    data-init="app.AddPerson.init" data-show="app.AddPerson.show" data-model="app.AddPerson">
    <div data-role="header">
        <div data-role="navbar">
            Activity
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">Cancelar</a>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" data-bind="click: savePerson">Guardar</a>
        </div>
    </div>
    <div id="enterStatus" class="share-form-wrp" data-role="listview" data-style="inset">
        <div class="user-avatar">
            <img data-bind="attr:{src: me.get('data').PictureUrl}" alt="styles/images/avatar.png" />
        </div>
        <h2 class="person-name" data-bind="text: me.get('data').DisplayName">Me</h2>
                
        <div class="user-share">
        <form id="person-form">
                <ul data-role="listview" data-style="inset">
                    <li><input type="text" id="personNombres" placeholder="Nombres" required validationMessage="El nombre es requerido!" /></li>
                    <li><input type="text" id="personApellidos" placeholder="Apellidos" required validationMessage="El apellido es requerido!" /></li>    
                    <li><input type="text" id="personTelefono" placeholder="Telefono"/></li>    
                    <li><input type="text" id="personTelefonoMovil" placeholder="Telefono movil"/></li>
                    <li><input type="text" id="personEmail" placeholder="Email"/></li>
                    <li><input type="text" id="personPeso" placeholder="Peso"/></li>    
                    <li><input type="date" id="personFechaNacimiento" data-bind="value: Fecha_Nacimiento"/></li>
                </ul>
        </form>
        </div>
        
    </div>
</div>
