<div data-role="view" id="single-activity" data-layout="default" class="activity-view" 
     data-init="app.Person.init" data-show="app.Person.show">
    <div data-role="header">
        <div data-role="navbar">
            Datos persona
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
            <a class="nav-button nav-button-post" data-align="right" data-role="button" data-click="app.Person.edit">Editar</a>
        </div>
    </div>

    <div id="status-container" class="user-status-wrp cf" data-role="listview" data-style="inset">
        <div class="user-avatar">
            <img id="picturePerson" alt="styles/images/avatar.png" />
        </div>
        <div class="activity-content">
            <h4 class="person-name" data-bind='text: Nombre_Mostrar'></h4>
            <span class="time-span" data-bind="text: Fecha_Nacimiento"></span>
            <span data-bind="text: Telefono_Movil" class="user-share-txt"></span>
            <img  id="picture" class="picture" data-bind="attr:{src: PictureUrl}" width="100%"/>
            <div class="comments-wrp">
                <ul id="comments-listview">  
                </ul>
            </div>
        </div>
        
        <ul data-role="listview" data-style="inset">
            
            		<li class="oauth cf">
                        <span class="oauth-item" data-role="touch">
                            <a data-role="button">sms</a>
                        </span>                                           
                        
                        <span class="oauth-item" data-role="touch">
                            <a data-role="button" data-click="app.Person.edit">editar</a>
                        </span>
                        
                        <span class="oauth-item" data-role="touch">
                            <a data-role="button" data-click="app.Person.remove">eliminar</a>
                        </span>
                        
                        <span class="oauth-item" data-role="touch">
                            <a data-role="button" data-click="app.Person.foto">foto</a>
                        </span>
                        
                	</li>
            
                	<li><span>Telefono movil</span></li>
                    <li><span data-bind='text: Telefono_Movil'/></li>
                
            		<li><span>Telefono</span></li>
                    <li><span data-bind='text: Telefono'/></li>
            
            		<li><span>Email</span></li>
                    <li><span data-bind='text: Email'/></li>
            
            		<li><span>Peso</span></li>
                    <li><span data-bind='text: Peso'/></li>
            
            		<li><span>Fecha nacimiento</span></li>
                    <li><span data-bind='text: Fecha_Nacimiento'/></li>
             </ul>
    </div>
    
    <div data-role="footer">
        <!-- <a data-role="button" data-click="app.Person.remove" class="btn btn-delete">Eliminar</a> -->
    </div>
</div>

<!-- Comments Template -->
<script type="text/x-kendo-template" id="commentsTemplate">
    <div class="comment-content">
        <h2 class="person-name">${User()}</h2>
        <span class="time-span">${CreatedAtFormatted()}</span>
        <a class="user-share-txt">${Comment}</a>
    </div>
</script>
