<div data-role="view" id="common-calendar" data-layout="default" data-transition="overlay:down" class="signup-view"
    data-init="app.commonCalendar.init" data-show="app.commonCalendar.show">
    <div data-role="header">
        <div data-role="navbar">
            Seleccionar fecha
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">Cancelar</a>            
        </div>
    </div>
    
    <div>
     	<div id="special-days">
    		<div class="center-block" id="commonCalendar">
         </div>
    </div>
        
    </div>
</div>
